/* Global styles */

input[type="checkbox"] {
    transform:scale(1.5, 1.5);
}

input[type="radio"] {
    transform:scale(1.5, 1.5);
}

input[type="text"] {
    margin-bottom: 0;
}

form,fieldset {
    margin-bottom: 0;
}

hr {
    margin: 1rem 0;
}

ul {
    list-style-type: none;
}

li {
    padding: 6px 0;
}

p {
    margin-bottom: 5px;
}

a {
    margin-bottom: 5px;
    color: black !important;
    text-decoration: underline;
}

pre {
    padding-left: 10px;
}

.jquery-modal {
    padding: 0 0;
}

.container {
    max-width: none !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
}

/* Index page */
#index-content {
    text-align: center;
    padding-top: 20px;
}

/* Configuration page */

@media (max-width: 960px) {
    .column-60 {
        max-width: 100% !important;
        flex: 0 0 100% !important;
    }

    .column-20 {
        display: none !important;
    }
}

#content {
    padding-top: 20px;
    padding-bottom: 50px;
}

#warwick {
    float: right;
}

#images {
    margin-bottom: 10px;
}

#images > img {
    height: 70px;
}

#title {
    text-align: center;
    margin-bottom: 0;
}

#subtitle {
    text-align: center;
}

#configuration {
    padding: 15px 25px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.config-nested {
    padding-left: 15px;
    border-left: 2px solid #a7a7a7;
    margin-bottom: 10px;
}

fieldset > p {
    font-size: 0.9em;
}

.checkbox-label {
    margin-left: 10px;
    font-size: larger;
}

.button-black {
    background-color: black !important;
    border-color: black !important;
}

.button-large {
    font-size: 1.4rem !important;
    height: 4.5rem !important;
    line-height: 4.5rem !important;
    padding: 0 6rem !important;
}

textarea {
    background: #f9f9f9 !important;
    resize: vertical;
    font-family: monospace;
    font-size: 1.2em;
}

input[type="text"] {
    background: #f9f9f9 !important;
}

input[type="email"] {
    background: #f9f9f9 !important;
}

input[type="email"]:disabled {
    background: #dddddd !important;
}

input[type="number"] {
    width: auto !important;
}

#validation-error {
    color: white;
    padding: 10px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #D54B4B;
    margin-bottom: 5px;
}

/* Results page */

#title-results {
    display: inline-block;
}

#title-results > h3 {
    margin-bottom: 0;
    display: inline;
}

#title-results > span {
    margin-bottom: 0;
    display: inline;
    font-size: larger;
    margin-left: 5px;
}

#images-results {
    display: inline-block;
    float: right;
}

#images-results > img {
    padding: 0 2rem;
    height: 50px;
    float: right;
}

#config-toggle {
    text-decoration: underline;
}

#config-toggle:hover {
    cursor: pointer;
    color: #444444;
}

#config-code {
    max-height: 240px;
    overflow-y: scroll;
}

#analysis-sidebar-list {
    margin-top: 10px;
}

#analysis-sidebar-list li {
    padding: 5px 5px;
    display: inline;
}

#analysis-sidebar-list li[data-active=true] {
    font-weight: bold;
    background-color: #f9f9f9;
}

#analysis-sidebar-list li[data-active=false] {
    text-decoration: underline;
}

#analysis-sidebar-list li[data-active=false]:hover {
    cursor: pointer;
    color: #444444;
}

#task-content svg {
    width: 100% !important;
}

#task-content summary:hover {
    cursor: pointer;
}

#task-content svg:hover {
    cursor: pointer;
    background-color: #F0F0F0;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

#svg-modal {
    width: 90%;
    height: 95%;
    max-width: 90%;
    max-height: 95%;
}

#svg-modal-content {
    width: 100%;
    height: 95%;
}

#svg-modal-content svg {
    width: 100%;
    height: 100%;
}

#svg-modal-content svg:hover {
    cursor: move;
}
