<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Get milligram & fonts from CDN -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" type="text/css" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" type="text/css" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    <!-- Icon pack -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Load custom CSS -->
    <link rel="stylesheet" type="text/css" href="style.css" >

    <title>CNEAT</title>
</head>
<body>
    <div class="container" id="content">
        <div class="row" id="configuration-row">
            <div class="column column-20"></div>
            <div class="column column-60">
                <div id="images">
                    <img src="logo.png" alt="Origene logo" id="logo">
                    <img src="warwick.png" alt="Warwick crest" id="warwick">
                </div>
                <a href="/"><strong>&larr;</strong> back to tool select</a>
                <h1 id="title">{{ title }}</h1>
                <div id="subtitle">{{ subtitle }}</div>
                <hr>
                <div id="configuration">
                    <form id="config-form">
                        <fieldset>
                            <label for="cne">CNE FASTA file (upload or paste):</label>
                            <input type="file" data-target="cne">
                            <p>
                                <i>Only single sequence FASTA files are permitted. The file can be edited before
                                submission in the textbox below.</i>
                            </p>
                            <textarea name="cne" id="cne" cols="30" rows="3" placeholder="Paste CNE FASTA file contents here"></textarea>
                            
                            <br>
                            <label>Choose analysis pipeline(s) to execute:</label>
                            <p><i>You must choose at least one pipeline to execute.</i></p>
                            <input type="checkbox" name="rna_protein:boolean" id="task-rna-protein" checked="checked">
                            <span class="checkbox-label">Run <b>RNA-protein interaction</b> analysis pipeline</span><br>
                            <div class="config-nested">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
                                    cillum dolore eu fugiat nulla. Excepteur sint occaecat cupidatat non 
                                    ident, sunt in culpa officia deserunt mollit anim id est laborum.
                                </p>
                                <div id="rna-protein-config">
                                    <label>Select relevant species:</label>
                                    <p><i>You must choose at least one species to consider.</i></p>
                                    <input type="checkbox" name="rna_protein_config[drosophila_melanogaster]:boolean" id="species-drosophila" checked="checked">
                                    <span class="checkbox-label"><i>Drosophila melanogaster</i> (common fruit fly)</span>
                                    <br>
                                    <input type="checkbox" name="rna_protein_config[homo_sapiens]:boolean" id="species-homo" checked="checked">
                                    <span class="checkbox-label"><i>Homo sapiens</i> (humans)</span>
                                    <br>
                                    <input type="checkbox" name="rna_protein_config[mus_musculus]:boolean" id="species-mus" checked="checked">
                                    <span class="checkbox-label"><i>Mus musculus</i> (house mouse)</span>
                                    <br>
                                </div>
                            </div>
                            <br>
                            <input type="checkbox" name="rna_rna:boolean" id="task-rna-rna" checked="checked">
                            <span class="checkbox-label">Run <b>RNA-RNA interaction</b> analysis pipeline</span><br>
                            <div class="config-nested">
                                <p>
                                    This pipeline attempts to predict RNA-RNA interactions between the CNE sequence, and a given
                                    set of query RNA sequences. 
                                    Each query sequence is treated independently in the analysis - only 2-molecule interactions are considered.

                                    Two separate tools are used in RNA-RNA interaction analysis: 
                                    <a target="_blank" href="https://www.tbi.univie.ac.at/RNA/">ViennaRNA</a> and
                                    <a target="_blank" href="http://rna.informatik.uni-freiburg.de/IntaRNA/Input.jsp">IntaRNA</a>. 
                                    You may choose which of these tools are used during analysis, or run both.
                                </p>
                                <div id="rna-rna-config">
                                    <label for="rna_rna_config[query_sequences]">Query sequence(s) FASTA file (upload or paste):</label>
                                    <p>
                                        <i>Upload/paste the query sequences to evaluate, as a multi-sequence FASTA file.</i>
                                    </p>
                                    <input type="file" data-target="query-sequences">
                                    <p>
                                        The file can be edited before submission in the textbox below.
                                    </p>
                                    <textarea id="query-sequences" name="rna_rna_config[query_sequences]" cols="30" rows="3" placeholder="Paste query sequence(s) FASTA file contents here"></textarea>
                                    <br>
                                    <label>Select which analysis tool to use:</label>
                                    <p><i>You must select at least one tool to use.</i></p>

                                    <input type="checkbox" name="rna_rna_config[vienna]:boolean" id="run-vienna" checked>
                                    <span class="checkbox-label">Run the <b>ViennaRNA</b> interaction analysis pipeline</span>
                                    <div class="config-nested" id="vienna-config">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                                            consequat.
                                        </p>

                                        <label>Select which ViennaRNA executables to run in the analysis:</label>
                                        <p><i>You must select at least one executable to run.</i></p>

                                        <input type="checkbox" name="rna_rna_config[vienna_config[rnaduplex]]:boolean" id="run-rnaduplex" checked>
                                        <span class="checkbox-label">Run the <b>RNAduplex</b> tool <i>(fast)</i></span>
                                        <div class="config-nested" id="rnaduplex-config">
                                            <p>
                                                This tool considers only <i>intermolecular</i> interactions between each evaluated 
                                                sequence pair, allowing for potential binding sites to be quickly identified.
                                            </p>
                                            <label for="rna_rna_config[vienna_config[rnaduplex_config[deltaenergy]]]:number">Set energy range for returned sub-optimal interactions:</label>
                                            <input name="rna_rna_config[vienna_config[rnaduplex_config[deltaenergy]]]:number" id="rnaduplex-deltaenergy" type="number" value="0" min="0" step="0.5">
                                            <span><code>kcal/mol</code></span>
                                            <p>
                                                The computed free energy of all returned interactions will be within 
                                                the defined range away from the minimum free energy interaction solution. 
                                                Higher values will return more potential interactions.
                                            </p>
                                        </div>
                                        <br>
                                        <input type="checkbox" name="rna_rna_config[vienna_config[rnacofold]]:boolean" id="run-rnacofold" checked>
                                        <span class="checkbox-label">Run the <b>RNAcofold</b> tool <i>(slow)</i></span>
                                        <div class="config-nested" id="rnacofold-config">
                                            <p>Note: this is not recommended for analysis of very large sequences.</p>
                                        </div>
                                    </div>
                                    <br>

                                    <input type="checkbox" name="rna_rna_config[inta]:boolean" id="run-inta" checked>
                                    <span class="checkbox-label">Run the <b>IntaRNA</b> interaction analysis pipeline</span>
                                    <div class="config-nested" id="inta-config">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                                            consequat.
                                        </p>
                                        <label for="rna_rna_config[inta_config[prediction_mode]]">Choose interaction prediction mode:</label>
                                        <select name="rna_rna_config[inta_config[prediction_mode]]" id="inta-prediction-mode">
                                            <option value="H">Heuristic (fast)</option>
                                            <option value="M">Exact (slow)</option>
                                        </select>

                                        <label for="inta-minpu">Set minimum unpaired probability:</label>
                                        <p>
                                            Only return interactions where each individual position of the interacting 
                                            subsequences has to have an unpaired probability (<code>Pu</code>) reaching at least the given value.
                                            <i>Must be within the range 0-1.</i>
                                        </p>
                                        <span><code>Minimum Pu:</code></span>
                                        <input name="rna_rna_config[inta_config[minpu]]:number" id="inta-minpu" type="number" value="0" min="0" max="1" step="0.1">
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <br>
                            <div id="validation-error" class="error-info" style="display: none;">
                                <b>Validation Error!</b>
                                There is an error in the analysis configuration form, please correct this before trying again.
                            </div>
                            <div id="fasta-error" class="error-info" style="display: none;">
                                <b>Fasta Error!</b>
                                There is an error in one of the fasta sequence inputs, please correct this before trying again.
                            </div>
                            <input class="button-large button-black" type="submit" id="submit-button" value="Submit Analysis">
                        </fieldset>
                    </form>    
                </div>
                <hr>
                <small>{{ footer|safe }}</small>
            </div>
            <div class="column column-20"></div>
        </div>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../jquery.serializejson.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ajv/6.10.0/ajv.min.js"></script>
    <script type="text/javascript">
        var schema = JSON.parse({{ schema|tojson }});

        // validator
        var ajv = new Ajv();
        var validate = ajv.compile(schema);
    </script>
    <script type="text/javascript" src="cneat.js"></script>

</body>
</html>