<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Get milligram & fonts from CDN -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" type="text/css" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" type="text/css" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.6/b-html5-1.5.6/datatables.min.css"/>    

    <!-- Icon pack -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Load custom CSS -->
    <link rel="stylesheet" type="text/css" href="../style.css" >

    <title>CNEFinder Job | {{ uid }}</title>
</head>
<body>
    <div class="container" id="content">
        <div class="row">
            <div class="column column-20" id="analysis-left">
                <div id="analysis-sidebar">
                    <div id="title-results">
                        <a href="/cnefinder"><strong>&larr;</strong> run new analysis</a>
                        <br>
                        <h3>{{ title }}</h3> <span>{{ subtitle }}</span>
                    </div>
                    <br>

                    <hr>
                    <small>{{ footer|safe }}</small>
                    <div id="images-results">
                        <img src="../warwick.png" alt="Warwick crest" id="warwick">
                        <img src="../logo.png" alt="Origene logo" id="logo">
                    </div>
                </div>
            </div>
            <div class="column column-80" id="analysis-right">
                <div id="analysis-top">
                    <hr>
                    <div class="row">
                        <div class="column column-25">
                            Analysis ID: <strong>{{ uid }}</strong>
                        </div>
                        <div class="column column-25">
                            Started: <strong> {{ started }}</strong>
                        </div>
                        <div class="column column-25">
                            Overall status: <strong id="status"></strong>
                        </div>
                        <div class="column column-25">
                            <span id="config-toggle">Show analysis configuration</span>
                        </div>
                    </div>
                    <div style="display: none" id="config">
                        <pre><code id="config-code"></code></pre>
                        <button id="copy-config" class="button button-outline">copy to clipboard</button>
                    </div>
                    <hr>
                </div>
                <div id="task-content"></div>
            </div>
        </div>
    </div>

    <div id="svg-modal" class="modal">
        <div id="svg-modal-header">
            Viewing diagram: click and drag with the mouse to pan, use the scrollwheel to zoom
        </div>
        <div id="svg-modal-content"></div>
    </div>

    <!-- Load JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.5.0/dist/svg-pan-zoom.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.6/b-html5-1.5.6/datatables.min.js"></script>

    <script type="text/javascript">
        var uid = {{ uid|tojson }};
        var started = {{ started|tojson }};
        var config = JSON.parse({{ config|tojson }});
        $('#config-code').html(JSON.stringify(config, null, 2));
    </script>
    <script type="text/javascript" src="../output.js"></script>
</body>
</html>
